<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Spotify-Filter-Song-by-Text Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .result-table {
            width: 48%;
            margin: 0 1%;
            display: inline-block;
            vertical-align: top;
        }
    </style>
    <script>
        async function search() {
            const query = document.getElementById('query').value;
            const k = document.getElementById('topk').value;
            const language = document.getElementById('language').value;
            
            const response = await fetch(`http://localhost:5000/search?query=${query}&k=${k}&language=${language}`);
            const data = await response.json();
            const results = data.results;
            const time = data.time;
            
            const response_pg = await fetch(`http://localhost:5000/search_postgresql?query=${query}&k=${k}&language=${language}`);
            const data_pg = await response_pg.json();
            const results_pg = data_pg.results;
            const time_pg = data_pg.time;
            
            // get
            const getUrlButtonInv = document.getElementById('get-url-button-inv');
            getUrlButtonInv.href = `http://localhost:5000/search?query=${query}&k=${k}&language=${language}`;
            // Habilitar el botón de GET Inverted Index
            getUrlButtonInv.classList.remove('disabled');

            const getUrlButtonPsql = document.getElementById('get-url-button-psql');
            getUrlButtonPsql.href = `http://localhost:5000/search_postgresql?query=${query}&k=${k}&language=${language}`;
            // Habilitar el botón de GET PostgreSQL
            getUrlButtonPsql.classList.remove('disabled');

            const resultDiv = document.getElementById('results');
            resultDiv.innerHTML = '';

            const inMemoryDiv = document.createElement('div');
            inMemoryDiv.className = 'result-table';
            const inMemoryTimeDiv = document.createElement('div');
            inMemoryTimeDiv.className = 'alert alert-info';
            inMemoryTimeDiv.innerText = `Tiempo de búsqueda (In-Memory): ${time.toFixed(4)} segundos`;
            inMemoryDiv.appendChild(inMemoryTimeDiv);

            const inMemoryTable = document.createElement('table');
            inMemoryTable.className = 'table table-striped';
            const inMemoryThead = document.createElement('thead');
            const inMemoryHeaderRow = document.createElement('tr');
            inMemoryHeaderRow.innerHTML = `
                <th>Canción ID</th>
                <th>Letra</th>
                <th>Datos de la canción</th>
                <th>Artista</th>
                <th>Score</th>
            `;
            inMemoryThead.appendChild(inMemoryHeaderRow);
            inMemoryTable.appendChild(inMemoryThead);

            const inMemoryTbody = document.createElement('tbody');

            // Resultados del índice invertido
            for (const result of results) {
                const docResponse = await fetch(`http://localhost:5000/document?doc_id=${result.doc_id}`);
                const docData = await docResponse.json();
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${result.doc_id}</td>
                    <td>${docData.lyrics}</td>
                    <td>${docData.track_name}</td>
                    <td>${docData.track_artist}</td>
                    <td>${Math.round(result.score * 10000) / 10000}</td>
                `;
                inMemoryTbody.appendChild(row);
            }

            inMemoryTable.appendChild(inMemoryTbody);
            inMemoryDiv.appendChild(inMemoryTable);

            const postgresDiv = document.createElement('div');
            postgresDiv.className = 'result-table';
            const postgresTimeDiv = document.createElement('div');
            postgresTimeDiv.className = 'alert alert-info';
            postgresTimeDiv.innerText = `Tiempo de búsqueda (PostgreSQL): ${time_pg.toFixed(4)} segundos`;
            postgresDiv.appendChild(postgresTimeDiv);

            const postgresTable = document.createElement('table');
            postgresTable.className = 'table table-striped';
            const postgresThead = document.createElement('thead');
            const postgresHeaderRow = document.createElement('tr');
            postgresHeaderRow.innerHTML = `
                <th>Canción</th>
                <th>Letra</th>
                <th>Datos de la canción</th>
                <th>Artista</th>
                <th>Score</th>
            `;
            postgresThead.appendChild(postgresHeaderRow);
            postgresTable.appendChild(postgresThead);

            const postgresTbody = document.createElement('tbody');

            // Resultados de PostgreSQL
            for (const result of results_pg) {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${result.track_name}</td>
                    <td>${result.lyrics}</td>
                    <td>${result.track_name}</td>
                    <td>${result.track_artist}</td>
                    <td>${Math.round(result.score * 10000) / 10000}</td>
                `;
                postgresTbody.appendChild(row);
            }

            postgresTable.appendChild(postgresTbody);
            postgresDiv.appendChild(postgresTable);

            resultDiv.appendChild(inMemoryDiv);
            resultDiv.appendChild(postgresDiv);
        }
    </script>
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Spotify-Filter-Song-by-Text Search</h1>
        <div class="form-group">
            <input type="text" id="query" class="form-control" placeholder="Ingrese su consulta">
        </div>
        <div class="form-group">
            <input type="number" id="topk" class="form-control" value="5">
        </div>
        <div class="form-group">
            <select id="language" class="form-control">
                <option value="en">Inglés</option>
                <option value="es">Español</option>
            </select>
        </div>
        <div class="form-group d-flex">
            <button onclick="search()" class="btn btn-primary mr-2">Buscar</button>
            <a id="get-url-button-inv" target="_blank" class="btn btn-secondary disabled mr-2">Ver GET Inverted Index</a>
            <a id="get-url-button-psql" target="_blank" class="btn btn-secondary disabled">Ver GET PostgreSQL</a>
        </div>
        <div id="results" class="mt-5"></div>
    </div>
</body>

</html>
